

.language-select {
    
   
    background-color: dodgerblue;
    color: rgb(253, 250, 250);
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(23, 18, 18, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    justify-content: center;
  }

  

 

.marathi-option {
   
    color: rgb(181, 6, 212);
   

  }
  
  .hindi-option {
    
    color: rgb(245, 242, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .english-option {
    
    color: rgb(214, 226, 237);
  }

 

.main-heading {
    
    color: #20d7f3;
    font-size: 44px;
    text-align: center;
    
    font-style: calc();

  }
  
  .normal-text {
    
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: rgb(43, 226, 177);
  }
  
  .sub-heading {

    color: rgb(209, 8, 216);
    font-size: 30px;
    text-align: center;
  }
  
  .language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c41010;
    
    

    /*  */
  }
  